# Visual Studio user files and folders
*.vcxproj.user
*.suo
.vs/
# Not sure if .filters files should be excluded
# *.vcxproj.filters

# C# intermediate files
obj/

# Build output folder
/Build

# Prerequisites
#*.d

# Compiled Object files
#*.slo
#*.lo
#*.o
#*.obj

# Precompiled Headers
#*.gch
#*.pch

# Compiled Dynamic libraries
#*.so
#*.dylib
#*.dll

# Fortran module files
#*.mod
#*.smod

# Compiled Static libraries
#*.lai
#*.la
#*.a
#*.lib

# Executables
#*.exe
#*.out
#*.app
